<!DOCTYPE html>
<!--Telling idea that this file will use thymeleaf
structure, tags, etc
We use the standard shtml, and all the tags must be closed-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- replace this space for whatever is inside head in fragments
file -> reusing common code-->
<head th:replace="fragments :: head"></head>
<body class="container">
    <!-- TH syntax is similar as HTML regarding attributes-->
     <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation"></nav>
<p th:unless="${cheeses} and ${cheeses.size()}">no cheese</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
    </tr>

    <!-- each attribute -> for loop definition
    cheese: iterator variable -->
    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.name}"></td>
        <td th:text="${cheese.description}"></td>
        <td th:text="${cheese.type.name}"></td>
    </tr>
</table>

</body>
</html>